body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.topnav {
    position: fixed;
    overflow: hidden;
    height: 80px;
    background-color: #28282c;
    width: 100%;
    position: relative;
    top: 0;
    left: 0%;
    z-index: 1;
  }
  .topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

header {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.gallery-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

.gallery-item p {
    margin: 0;
    padding: 10px;
    font-size: 1em;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #fff;
    font-size: 0.9em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
